*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f8ff;
    color: #3E3E3E;
}

li , a{
    text-decoration: none;
    list-style-type: none;
}

header{
    height: 100vh;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav h1{
    color: #3E3E3E;
}

nav ul{
    padding: 20px;
}

nav ul:hover{
    transform: scale(1.12);
}